$pink: #e85889;
$purple: #463f8c;
$lightpurple: #bfb9f6;
$purplegrey: #4a4854;
$black: #222222;
$greyblack: #1b1b1b;
$lightgreyblack: #2f2f2f;
$white: #ffffff;
$lightgrey: #fafafa;
$midgrey: #e9e9e9;
$darkgrey: #777777;

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 60%;
    max-width: 1170px;
    margin: 0 auto;
}

